@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {margin: 0}

#root {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background: url("https://i.ibb.co/GxycmKR/leaves-pattern.webp");
}


