.layout-container {
    min-height: 90vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.layout-container > div {
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    background: #e7e9eb;
}

@media screen and (max-width: 719px) {
    .layout-container {
        width: 92%;
        margin: 5.5% 4%;
        gap: 25px;
    }

    .layout-container > div {
        border: 2px solid #c8c8c8;
        box-shadow: 2px 2px 7px #00000080;
    }
}

@media screen and (min-width: 720px) and (max-width: 1024px) {
    .layout-container {
        width: 94%;
        margin: 3.5% 3%;
        gap: 3vh;
    }

    .layout-container > div {
        border: 2px solid #c8c8c8;
        box-shadow: 2px 2px 7px #00000080;
    } 
}

@media screen and (min-width: 1025px) {
    .layout-container {
        width: 94%;
        margin: 3.5% 3%;
        gap: 5vh;
    }

    .layout-container > div {
        border: 3px solid #c8c8c8;
        box-shadow: 3px 3px 8px #00000080;
    }
}